*/.ipynb_checkpoints
steemit/steemit-data.csv
steemit/steemit.log
.env
.vscode
*.pyc

blockchain-sns-env
twitter/kmeans_pytorch/__pycache__

twitter/__pycache__
twitter/utils/__pycache__


twitter/tools/*/*.json

twitter/tools/embedder/embedderlog.txt
