certifi==2023.7.22
elastic-transport==8.4.1
elasticsearch==8.10.0
h5py==3.9.0
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.0
pandas==2.1.1
pip==23.2.1
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
rich==13.5.3
setuptools==68.2.2
six==1.16.0
tzdata==2023.3
urllib3==1.26.16
wheel==0.41.2
